section[data-testid="stSidebar"] {
    background-color: #6A0DAD;
    color: white;
}

h1, h2 {
    color: #FFD700;
}

button {
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 0.5em 1em;
    font-weight: bold;
}

button:hover {
    background-color: #6A0DAD;
    color: white;
}

section.main > div {
    background-color: auto;
    padding: 2rem;
    border-radius: 10px;
}

input, textarea {
    border: 2px solid #6A0DAD !important;
    border-radius: 5px;
}
